body {
    margin: 0;
}

body > div {
    height: 100vh;
    background-color: lightgray;
}

nav {
    background-color: rgb(185, 40, 40);
    color: white;
    display: flex;
    align-items: center;
}

nav > ul {
    margin-left: auto;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

nav > ul > li {
    list-style: none;
    cursor: pointer;
}

nav > span {
    padding: 1rem;
}

#app-body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.bold {
    font-weight: bold;
}

.evenDays {
    border: 2px solid orange;
}

.oddDays {
    border: 2px solid pink;
}
